.albumn-logo img {
    width: 200;
    height: 200;
    margin-top: 50;
}

.authorize-button, .create-playlist {
    margin-top: 10;
}

.generate-button {
    margin-top: 50;
}

.title {
    font-size: 50px;
}

.left-button, .right-button {
    margin-top: 250;
}

.authorize-button{
    margin-top: 20;
    margin-bottom: 50;
}

.client-id-container, .client-secret-container, .playlist-name-container, .playlist-description-container, .playlist-type-button, .title {
    margin-bottom: 20;
}